/*  BODY  */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin: 0;
}

/*  HEADER  */

header {
    margin-top: 30px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 0 30px;
}

header nav ul li a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    padding: 0 10px;
}

header nav ul li a:hover {
    opacity:.85;
    text-decoration: underline;
}


/*  BUTTONS  */

#grille img {
    width: 16px;
    height: 16px;    
}

#grille img:hover {
    opacity: .8;
}
.btn {
    padding: 12px 16px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 1em;   
    text-decoration: none;     
}
.btn_blue {
    background-color: #4285f4;
    color: #FFF;
    padding: 8px 14px;
    margin-left: 10px;
}

.btn_blue:hover {
    text-decoration: none;
}

.btn_grey {
    margin: 30px 5px 0; 
    background-color: #F2F2F2;
    color: #757575;
    border: 1px solid #F2F2F2;
}

.btn_grey:hover {
    border: 1px solid #c6c6c6;
    color: #222;
}


/*  SECTION  */

section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 272px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 139px;
    margin-bottom: 20px;

}

#search-box {
    width: 434px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 1.2em;
    border-radius: 2px;
    border:none;
    height: 44px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

#search-box:hover {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.26),0 0 0 1px rgba(0,0,0,0.08);    
}


/*  FOOTER  */

footer {
    background: #F2F2F2;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #666;
}

footer .bottom {
    border-top: 1px solid #e4e4e4;
    padding: 15px 30px;
}
footer ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

footer ul a {
    text-decoration: none;
    color: #666;
}

footer ul a:hover {
    text-decoration: underline;
}

footer #foot {
    display: flex;
    justify-content: space-between;
}

footer #country {
    font-size: 1.2em;
}

footer ul#links_1 a {
    margin-right: 30px;
}

footer ul#links_2 a {
    margin-left: 30px;
}